.Studentlist{
    height: 1550px;
    background-color: #fefefe;
}

.slist{
   font-size: 30px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px !important; 
    text-align: center;
}
.table{
    margin-top: 30px;
}
